h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #383E4C;
  min-width: 100%;
  margin: 0;
  padding: 0;
  height: 80px;
}

nav > ul {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

nav > ul > li {
  display: inline-block;
  padding: 5px 10px;
}

nav > ul > li > a {
  padding: 15px 25px;
  font-size: 20px;
  border: 1px solid #FFF;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
}

nav > ul > li > a:hover {
  background: #49505F
}

header {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#header-text {
  text-align: center;
  color: #FFF; 
  font-family: 'Open Sans', 'Helvetica', sans-serif; 
}

#header-text > h1 {
  text-transform: uppercase;
  font-size: 56px;
  margin-bottom: 14px;
  text-shadow: 2px 2px #000;
}

#header-text > h4 {
  text-transform: capitalize;
  font-size: 28px;
  text-shadow: 1px 1px #000;
}

#section-1 {
  height: auto;
  width: 100%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.img-response {
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section1 {
  padding-top: 20px;
}